/* changes the body background */
body {
    background-color: #242424;
}

/* changes the font color to white */
.white {
    color: white;
}

/* changes the font-size to 25px */
.sub {
    font-size: 25px;
}

/* sets the dimensions of the scrollspy body */
.row-scrollspy {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 1300px;
    margin: 0 auto;
}

/* sets the dimensions of the scrollspy's div content */
.scrollspy {
    position: relative;
    overflow: auto;
    height: 567px;
    width: 1120px;
    text-align: justify;
}

/* justifies text content */
.justify {
    text-align: justify;
}

/* sets the position of the card row */
.row-card {
    display: flex;
    margin-left: 40px;
}

/* enables img overflow automatically */
.clearfix {
    overflow: auto;
}

/* sets the modal img position */
.img-modal {
    float: left;
}

/* sets the margin of first modal img */
.modal-h5-first {
    margin-top: -4px;
}

/* sets the margin of the other modal imgs */
.modal-h5-others {
    margin-top: 12px;
}

/* sets the position and attributes of modal's div */
.modal-div {
    width: 100%;
    height: inherit;
    position: relative;    
    margin: 0;
    overflow: visible;
}

/* sets the margin of cards */
.card-left {
    margin-left: -20px;
}

/* sets the distance between paragraphs */
.paragraph {
    margin-top: -10px;
}

/* sets the margin of ul in the cards */
.ul-margin {
    margin-left: -20px;
}
